.statusboxlarge-title {
  font-size: 10px;
  font-weight: bolder;
  color: blue;
  margin-right: 20px;
}

.statusboxlarge-status {
  font-size: 15px;
  font-weight: normal;
  color: black;
  margin-right: 10px;
}

.statusboxlarge-component {
  max-height: 400px;
  min-height: 150px;
  text-align: left;
  margin-left: 1rem;
  margin-right: 1rem;
}

.statusboxlarge-content {
    display: table-cell;
        height: 80px;
        padding: 10px;
        vertical-align: middle;
}

.statusboxlarge-progressbar {
    border-radius: 50px;
    margin: 10px;
}