.statusboxsmall-title {
  font-size: 9px;
  font-weight: bolder;
  color: blue;
  margin-right: 20px;
}

.statusboxsmall-status {
  font-size: 15px;
  font-weight: normal;
  color: black;
  margin-right: 20px;
}

.statusboxsmall-component {
  max-height: 75px;
  text-align: left;
  margin: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.statusboxsmall-progressbar {
  border-radius: 50px;
}

.statusboxsmall-icon-air {
  display: block;
  margin-left: auto;
}
